In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\tirum\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\tirum\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\tirum\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\users\tirum\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in c:\users\tirum\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [16]:
import pandas as pd
import numpy as np

In [2]:
a = pd.Series([10,20,30,40,50])
a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
a1 = pd.Series(['a','b','c'])
a1

0    a
1    b
2    c
dtype: object

In [36]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3','column4'])

In [40]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [20]:
df.to_csv('Datatype')

In [22]:
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32

In [23]:
type(df.loc['row1'])

pandas.core.series.Series

In [24]:
df.iloc[:,:]

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [27]:
df.iloc[0:2,0:2]

      column1  column2
row1        0        1
row2        4        5

In [28]:
df.iloc[:,0:3]

      column1  column2  column3
row1        0        1        2
row2        4        5        6
row3        8        9       10
row4       12       13       14
row5       16       17       18

In [31]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [32]:
df.iloc[:,1:].values.shape

(5, 3)

In [42]:
df['column1'].value_counts() #or .unique()

12    1
4     1
16    1
8     1
0     1
Name: column1, dtype: int64

In [43]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64