# Math

In [1]:
import math

In [2]:
math.sqrt(54)

7.3484692283495345

In [3]:
math.sqrt(99)

9.9498743710662

In [4]:
import math as m

In [5]:
m.sqrt(77)

8.774964387392123

In [6]:
m.sqrt(111)

10.535653752852738

In [7]:
m.ceil(15.3)

16

In [9]:
m.ceil(45.6)

46

In [10]:
m.floor(45.1)

45

In [11]:
m.floor(71.6)

71

In [12]:
3**2

9

In [13]:
32**8

1099511627776

In [19]:
m.pow(2,3)

8.0

In [21]:
m.pi

3.141592653589793

In [22]:
m.e

2.718281828459045

In [23]:
from math import pi,sqrt

In [24]:
sqrt(87)

9.327379053088816

In [25]:
pi

3.141592653589793

# List comprehension

In [39]:
a = [1,3,5,7,9,11]

In [29]:
b = []

In [54]:
for i in range(len(a)):
    
    b.append(i*2)
print(b)

[2, 6, 10, 14, 18, 22, 2, 6, 10, 14, 18, 22, 2, 6, 10, 14, 18, 22, 2, 6, 10, 14, 18, 22, 2, 6, 10, 14, 18, 22, 0, 2, 4, 6, 8, 10]

In [44]:
c = []
for item in range(len(a)):
    c.append(item*2)
c

[0, 2, 4, 6, 8, 10]

In [47]:
d = [item*2 for item in a]
d

[2, 6, 10, 14, 18, 22]

In [49]:
L1 = []
for item in range(1,7):
    L1.append(item*2)
L1

[2, 4, 6, 8, 10, 12]

In [50]:
L = [item*3 for item in a]
L

[3, 9, 15, 21, 27, 33]

In [53]:
L2 = [x*4 for x in range(60,5,-6)]
L2

[240, 216, 192, 168, 144, 120, 96, 72, 48, 24]

# Break continue and pass

In [10]:
x = int(input('The no of candies'))
avilable = 5
i=1
while i<=x:
    if i>avilable:
        print('get lost')
        break
    print('candies')
    i+=1

The no of candies10
candies
candies
candies
candies
candies
get lost

In [41]:
for i in range (33):
    if i==15:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [40]:
for i in range(1,33):
    if i % 3==0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32

In [49]:
for i in range(33):
    if i%2!=0:
        pass
    else:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32

# FizzBuzz

In [51]:
for i in range(33):
    if i %2!=0:
        print('fizz')
    elif i %3!=0:
        print('buzz')
    elif i %5!=0:
        print('fizzbuzz')

fizz
buzz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizz
buzz

# Pattern

In [54]:
for i in range(4):
    print('#')

#
#
#
#

In [55]:
for i in range(4):
    print('#'*4)

####
####
####
####

In [63]:
for i in range(5):
    for j in range(i):
        print('#',end='')
    print()

#
##
###
####

# For else

In [66]:
nums = [12,13,14,15,16,19,20,25,26]
for num in nums:
    if num%4==0:
        print(num)

12
16
20

In [67]:
for num in nums:
    if num%3==0:
        print(num)

12
15

In [80]:
for num in nums:
    if num%13==0:
        print(num)
        break
    else:
        print('not fount')

not fount
13

In [78]:
for num in nums:
    if num%5==0:
        print(num)
        break
else:
    print('not found')

15

# Anonymos funcition or lambda

In [6]:
def sqr2(a):
    return a*a
rst = sqr2(6)
rst

36

In [2]:
sqr = lambda a: a*a

In [4]:
result = sqr(5)
result

25

In [8]:
add = lambda a,b : a+b

In [10]:
result = add(23,54)
result

77

# filter

In [41]:
nums = [1,2,3,4,5,6,7,8,9]

In [19]:
def is_even(n):
    return n%2==0

In [21]:
evens = list(filter(is_even,nums))
evens

[2, 4, 6, 8]

In [30]:
even = list(filter(lambda n : n%2==0,nums))
even

[2, 4, 6, 8]

In [45]:
odd = list(filter(lambda n : n%2!=0,nums))
odd

[1, 3, 5, 7, 9]

# Map

In [49]:
nums = [3,2,5,4,6,2,6,3,2,4]
def double (n):
     return n**2

In [51]:
doub = list(map(double,nums))
doub

[9, 4, 25, 16, 36, 4, 36, 9, 4, 16]

In [53]:
doubl = list(map(lambda n : n**2,nums))
doubl

[9, 4, 25, 16, 36, 4, 36, 9, 4, 16]

# Reduce

In [54]:
from functools import reduce

In [56]:
def add_all (a,b):
    return a+b

In [58]:
redu = reduce(lambda a,b : a+b,doubl)
redu

159

# Decorators

In [66]:
def div (a,b):
    print(a/b)

In [67]:
div(2,4)

0.5

In [72]:
def smart_dev (func):
    def inner (a,b):
        if a<b:
            a,b = b,a
        return func(a,b)
    return inner
div = smart_dev(div)
div(2,4)

2.0

# Args and Kwargs

In [115]:
p1 = person('pawar',22,'gulbarga',7675485)

pawar
(22, 'gulbarga', 7675485)

In [114]:
def person(name, *data):
    print(name)
    print(data)

In [108]:
data = person('pawar',age = 22,place = 'gulbarga',no = 7675485)

pawar
age 22
place gulbarga
no 7675485

In [107]:
def person(name,**data):
    print(name)
    for i,j in data.items():
        print(i,j)

# File handeling